input::placeholder,
input {
  font-family: "Space Mono", monospace;
  color: #f6f8ff;
}

input::placeholder {
  opacity: 0.5;
}

input {
  background-color: transparent;
  width: 400px;
  border: 1px solid #f6f8ff;
  border-radius: 5px;
  outline: none;
  padding: 1rem 0.3rem;
}

.input-wrapper {
  position: relative;
  width: 500px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
}

.input-with-icon {
  padding-left: 50px;
  height: 36px;
  width: 100%;
  font-size: 14px;
}
