.navigation-bar {
  background-color: #141d2f;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
}

.d-flex {
  display: flex;
}

.gap-3 {
  gap: 1rem;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.active {
  border-bottom: 2px solid white;
}

/* Spinner styles */
.loader {
  color: #ffffff;
  font-size: 20px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  position: absolute;
  top: 24px;
  right: 0;
  pointer-events: none;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-card-container {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 8px;
  background-color: #1e2a47;
  width: 350px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.main-card-container:hover {
  transform: scale(1.1);
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: #646464 0px 0px 10px;
}

.card-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  img {
    width: 1.5rem;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 1rem;
}
