:root {
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input::placeholder,
input {
  font-family: "Space Mono", monospace;
}

input::placeholder,
input {
  color: #f6f8ff;
}

input::placeholder {
  opacity: 0.5;
}
